h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.CHO{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 16px;
}
.CHO:hover{
    background-color: palevioletred;
}
.SIL{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 16px;
}
.SIL:hover{
    background-color: greenyellow;
}
.PRE{
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 16px;
}
.PRE:hover{
    background-color: plum;
}
.NIC{
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
    font-size: 16px;
}
.NIC:hover{
    background-color: turquoise;
}
.directions{
    font-style: italic;
    background-color: lightpink;
}
.directions:hover {
    
    background-color: black;
    color: white;
}
.song{
    font-style: italic;
}
.speech{ 
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-display: black;
    text-decoration: solid;
}
.chorus{
    text-indent: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}
.chr{
    text-indent: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}
.JUD{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(10, 255, 173);
    font-size: 16px;
}
.JUD:hover{
    background-color: rgba(85, 20, 20, 0.314);
}
.PLA{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-size: 16px;
}
.PLA:hover{
    background-color: burlywood;
}
.FOR{
    font-family: 'Times New Roman', Times, serif;
    color: lightseagreen;
    font-size: 16px;
}
.FOR:hover{
    background-color: lightsteelblue;
}
.JUR{
    font-family: 'Times New Roman', Times, serif;
    color: khaki;
    font-size: 16px;
}
.JUR:hover{
    background-color:crimson
}
.BRI{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    font-size: 16px;  
}
.BRI:hover{
    background-color:lightskyblue;
}
.mer{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    font-size: 16px;
}
.the{
    font-family: 'Times New Roman', Times, serif;
    color: khaki;
    font-size: 16px;
}
.cym{
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    font-size: 16px;
}
table.table
{
    color:darkmagenta;
    text-align: center;
    padding: 60px;
    margin:20px;
}
table, th, td {
    border: 2px dotted;
  }
tr:nth-child(odd)
{
    background-color: lightskyblue;
}